body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.controls,.select
{
    margin-top: 20px;
}

.controls{
    display: flex;
    align-items: center;
}

.wlt_btn{
        z-index: 1;
    position: relative;
}
.save_btn{
    position: absolute;
    left: 48%;
    z-index: 0;
}